@model ReportContractDealineSearchModel

@{
    //page title
    ViewBag.Title = T("AppWork.Menu.Report.ContractDealine").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Report_ContractDealine");
}
<div>
    <div class="modal-body" style="padding-left:0px;padding-right:0px;">
        <div class="content">
            <div class="container-fluid flex-grow-1 container-p-y" style="padding-left:0px;padding-right:0px;">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Tên công trình</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <nop-select asp-for="SelectedConstructionIds" asp-items="Model.ConstructionIds" asp-multiple="true" />
                                    <script>
                                            $(document).ready(function() {
                                                var rolesIdsInput =
                                                    $('#@Html.IdFor(model => model.SelectedConstructionIds)')
                                                        .data("kendoMultiSelect");
                                                rolesIdsInput.setOptions({
                                                    autoClose: true,
                                                    filter: "contains"
                                                });

                                                @if (Model.ConstructionIds.Count == 0)
                                                {
                                                    <text>
                                                        rolesIdsInput.setOptions({
                                                            enable: false,
                                                            placeholder:
                                                                'Chọn công trình ...'
                                                        });
                                                        rolesIdsInput._placeholder();
                                                        rolesIdsInput._enable();
                                                    </text>
                                                }
                                            });
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label class="form-label">Ngày dự kiến hết hạn</label>
                            </div>
                            <div class="col-md-2">
                                <input placeholder="Từ ngày" <nop-editor asp-for="datetimeFrom" />
                            </div>
                            <div class="col-md-2">
                                <input placeholder="Đến ngày" <nop-editor asp-for="datetimeTo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2 text-right mt-3">
                <form asp-controller="Report" asp-action="ExportReportContractDealine" method="post" id="export-excel-selected-form">
                        <input type="hidden" id="stringConstructionIds" name="stringConstructionIds" value="" />
                        <input type="hidden" id="dateTimeFrom" name="dateTimeFrom" value="" />
                        <input type="hidden" id="datetimeTo" name="datetimeTo" value="" />
                </form>
                <button id="btnExportExcel" class="btn btn-success">Xuất ra Excel</button>
            </div>
            <div class="col-md-1 text-right mt-3">
                <button type="button" id="btnReportContractDealine" class="btn btn-primary">
                    Tìm kiếm
                </button>&nbsp;
            </div>
        </div>
        <div id="view-reportContractDealine"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnReportContractDealine").click(function () {
            ShowViewLoading("#view-reportContractDealine");
            searchReportContract();
        });
        $("#btnExportExcel").click(function () {
            var SelectedConstructionIds = $("#@Html.IdFor(c=>c.SelectedConstructionIds)").val();
            var stringConstructionIds = SelectedConstructionIds.join(',');
            var dateTimeFrom = $("#@Html.IdFor(c=>c.datetimeFrom)").val();
            var datetimeTo = $("#@Html.IdFor(c=>c.datetimeTo)").val();
            $('#export-excel-selected-form #stringConstructionIds').val(stringConstructionIds);
            $('#export-excel-selected-form #dateTimeFrom').val(dateTimeFrom);
            $('#export-excel-selected-form #datetimeTo').val(datetimeTo);
            $('#export-excel-selected-form').submit();
        });
    });
    function searchReportContract() {
        var data = {
            SelectedConstructionIds: $("#@Html.IdFor(c=>c.SelectedConstructionIds)").val(),
            dateTimeFrom: $("#@Html.IdFor(c=>c.datetimeFrom)").val(),
            datetimeTo: $("#@Html.IdFor(c=>c.datetimeTo)").val(),
        }
        $.ajax({
            type: "POST",
            data: data,
            url: "/Report/_ReportContractDealine",
            success: function (data) {
                $("#view-reportContractDealine").html(data);
            },
        })
    };
</script>
