<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="AppWork.Home" controller="AppWork" action="index">
    <siteMapNode SystemName="Home" nopResource="AppWork.Home" controller="AppWork" action="Index" IconClass="ion-ios-home">
    </siteMapNode>
    <siteMapNode SystemName="Contract" nopResource="AppWork.Menu.Contract" PermissionNames="" IconClass="ion-ios-albums" BadgeId="BadgeContract" BadgeCss="badge-primary">
      <siteMapNode SystemName="Contract_create" nopResource="AppWork.Menu.Contract.Create" PermissionNames="" controller="Contract" action="Create" IconClass="ion-ios-paper-plane"/>      
      <siteMapNode SystemName="Contract_List" nopResource="AppWork.Menu.Contract.List" PermissionNames="" controller="Contract" action="List" IconClass="ion-ios-images" BadgeId="BadgeContract" BadgeCss="badge-primary"/>
    </siteMapNode>   
    <siteMapNode SystemName="Task" nopResource="AppWork.Menu.Task" PermissionNames="" IconClass="ion-md-speedometer" BadgeId="BadgeTask" BadgeCss="badge-warning">    
      <siteMapNode SystemName="Task_Notification" nopResource="AppWork.Menu.Task.Notification" PermissionNames="" controller="AppWork" action="Notification" IconClass="ion-ios-megaphone" BadgeId="notifyTotalNew" BadgeCss="badge-danger"/>
      <siteMapNode SystemName="Task manager" nopResource="AppWork.Menu.Task.Manager" PermissionNames="" controller="Works" action="Index" IconClass="ion-ios-list-box" BadgeId="BadgeTask" BadgeCss="badge-warning"/>      
    </siteMapNode>
    <!--<siteMapNode SystemName="BusinessPlan" nopResource="AppWork.Menu.BusinessPlan" PermissionNames="" IconClass="ion ion-ios-clock">
      <siteMapNode SystemName="BusinessPlan_Create" nopResource="AppWork.Menu.BusinessPlan.Create" PermissionNames="" controller="BusinessPlan" action="Create" IconClass="ion-ios-add-circle"/>
      <siteMapNode SystemName="BusinessPlan_List" nopResource="AppWork.Menu.BusinessPlan.List" PermissionNames="" controller="BusinessPlan" action="List" IconClass="ion-ios-list" BadgeCss="badge-primary"/>
    </siteMapNode>-->
    <siteMapNode SystemName="Advance" nopResource="AppWork.Menu.Advance" PermissionNames="ManageAdvance" IconClass="ion-ios-bookmarks">
      <siteMapNode SystemName="Advance_Create" nopResource="AppWork.Menu.Advance.Create" PermissionNames="ManageAdvanceCreate" controller="Advance" action="Create" IconClass="ion-ios-add-circle"/>
      <siteMapNode SystemName="Advance_List" nopResource="AppWork.Menu.Advance.List" PermissionNames="ManageAdvanceList" controller="Advance" action="List" IconClass="ion-ios-list" BadgeCss="badge-primary"/>
    </siteMapNode>
    <siteMapNode SystemName="Acceptance" nopResource="AppWork.Menu.Acceptance" PermissionNames="ManageAcceptance" IconClass="ion-md-options">
      <siteMapNode SystemName="Acceptance_Create" nopResource="AppWork.Menu.Acceptance.Create" PermissionNames="ManageAcceptanceCreate" controller="ContractAcceptance" action="Create" IconClass="ion-ios-add-circle"/>
      <siteMapNode SystemName="Acceptance_List" nopResource="AppWork.Menu.Acceptance.List" PermissionNames="ManageAcceptanceList" controller="ContractAcceptance" action="List" IconClass="ion-ios-list" BadgeCss="badge-primary"/>
    </siteMapNode>
    <siteMapNode SystemName="PaymentExpenditure" nopResource="AppWork.Menu.PaymentExpenditure" PermissionNames="ManagePaymentExpenditure" IconClass="ion-md-cash">
      <!--<siteMapNode SystemName="PaymentExpenditure_Create" nopResource="AppWork.Menu.PaymentExpenditure.Create" PermissionNames="" controller="PaymentExpenditure" action="Create" IconClass="ion-ios-add-circle"/>-->
      <siteMapNode SystemName="PaymentExpenditure_List" nopResource="AppWork.Menu.PaymentExpenditure.List" PermissionNames="ManagePaymentExpenditureList" controller="PaymentExpenditure" action="List" IconClass="ion-ios-list" BadgeCss="badge-primary"/>
    </siteMapNode>
    <siteMapNode SystemName="Report" nopResource="AppWork.Menu.Report" PermissionNames="" IconClass="ion-ios-stats">
      <siteMapNode SystemName="Report_unit" nopResource="AppWork.Menu.Report.Static" PermissionNames="" controller="Report" action="Index" IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Report_manager" nopResource="AppWork.Menu.Report.Volumn" PermissionNames="" controller="Report" action="ReportContractPaymentAcceptance" IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Report_AB" nopResource="AppWork.Menu.Report.AB" PermissionNames="" controller="Report" action="ReportContractAB" IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Report_BB" nopResource="AppWork.Menu.Report.BB" PermissionNames="" controller="Report" action="ReportContractBB" IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Report_ProcuringAgency" nopResource="AppWork.Menu.Report.ProcuringAgency" PermissionNames="" controller="Report" action="ReportProcuringAgency" IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Report_ContractDealine" nopResource="AppWork.Menu.Report.ContractDealine" PermissionNames="" controller="Report" action="ReportContractDealine" IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Report_TaskByUnit" nopResource="AppWork.Menu.Report.TaskByUnit" PermissionNames="" controller="Report" action="ReportTaskByUnit" IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Report_ContractUnfinish" nopResource="AppWork.Menu.Report.ContractUnfinish" PermissionNames="" controller="Report" action="ReportContractUnfinish" IconClass="ion-md-radio-button-on"/>
    </siteMapNode>
    <siteMapNode SystemName="Users" nopResource="AppWork.Menu.User" PermissionNames="" IconClass="ion-md-people">
      <siteMapNode SystemName="Users manager" nopResource="AppWork.Menu.Users.Manager" PermissionNames="" controller="Customer" action="List" IconClass="ion-ios-contacts"  BadgeId="BadgeCustomer" BadgeCss="badge-info"/>
      <siteMapNode SystemName="Users unit" nopResource="AppWork.Menu.Users.Unit" PermissionNames="" controller="Unit" action="List" IconClass="ion-md-business"/>
    </siteMapNode>
    <siteMapNode SystemName="Category" nopResource="AppWork.Menu.Category" PermissionNames="" IconClass="ion-ios-settings">      
      <siteMapNode SystemName="Category_contract_procuringagency" nopResource="AppWork.Menu.category.ProcuringAgency" PermissionNames="" controller="ProcuringAgency" action="List"  IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Category_contract_form" nopResource="AppWork.Menu.category.contractform" PermissionNames="" controller="ContractForm" action="List"  IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Category_contract_period" nopResource="AppWork.Menu.category.contractperiod" PermissionNames="" controller="ContractPeriod" action="List"  IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Category_contract_type" nopResource="AppWork.Menu.category.contracttype" PermissionNames="" controller="ContractType" action="List"  IconClass="ion-md-radio-button-on"/>
      
      <siteMapNode SystemName="Category_construction" nopResource="AppWork.Menu.category.construction" PermissionNames="" controller="Construction" action="List"  IconClass="ion-md-radio-button-on"/>
      <siteMapNode SystemName="Category_construction_capital" nopResource="AppWork.Menu.category.constructioncapital" PermissionNames="" controller="ConstructionCapital" action="List"  IconClass="ion-md-radio-button-on"/>      
      <siteMapNode SystemName="Category_construction_type" nopResource="AppWork.Menu.category.constructiontype" PermissionNames="" controller="ConstructionType" action="List"  IconClass="ion-md-radio-button-on"/>      
      <siteMapNode SystemName="Category_task_group" nopResource="AppWork.Menu.category.taskgroup" PermissionNames="" controller="TaskGroup" action="List"  IconClass="ion-md-radio-button-on"/>
      
    </siteMapNode>   
  </siteMapNode>
</siteMap>

