@model ConstructionModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<div class="content">
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <app-label asp-for="Code" />
            </div>
            <div class="col-md-10">
                <nop-editor asp-for="Code"  />
                <span asp-validation-for="Code"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <app-label asp-for="Name" />
            </div>
            <div class="col-md-10">
                <nop-editor asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <app-label asp-for="Description" />
            </div>
            <div class="col-md-10">
                <app-textarea asp-for="Description" />
                <span asp-validation-for="Description"></span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <app-label asp-for="TypeId" />
            </div>
            <div class="col-md-4">
                <nop-select asp-for="TypeId" asp-items="@Model.AvailableTypes" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <app-label asp-for="CapitalId" />
            </div>
            <div class="col-md-4">
                <nop-select asp-for="CapitalId" asp-items="@Model.AvailableCapitals" />
            </div>
        </div>

    </div>
</div>