@model ContractTypeModel
<div class="card mb-4" id="modal_InsertContractType">
    <div class="card-body">
        @await Html.PartialAsync("_CreateOrUpdate", Model)
        <a id="btnAdd_ContractType" href="javascript:void(0);" class="btn btn-success" style="float:right;margin-right:5px; ">
            <i class="fas fa-save" style="margin-right:5px;"></i>
            @T("Admin.Common.Save")
        </a>
    </div>
</div>
<script>
    function ReloadContractTypes(obj) {
        var widget = $("#SelectedContractTypeIds").getKendoMultiSelect();
        var dataSource = widget.dataSource;
        dataSource.add({
            value: obj.Id,
            text: obj.Name
        });
        dataSource.sync();
    }
    $(document).ready(function () {
        $("#btnAdd_ContractType").click(function () {
            var postData = {
                Name: $("#modal_InsertContractType #Name").val()
            }
            
            $.ajax({
                cache: false,
                type: 'POST',
                url: "/ContractType/_Create",
                data: postData,
                success: function (msg) {
                    if (msg.Code == "00") {
                        $("#modal_InsertContractNew .close").click();
                        ShowSuccessMessage(msg.Message);
                        ReloadContractTypes(msg.ObjectInfo);
                    }
                    else {
                        ShowErrorMessage(msg.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            return false;
        });
    });
</script>