@model ContractFormModel

@{
    //page title
    ViewBag.Title = T("AppWork.Contracts.ContractForm.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Category_contract_form");
}
<form asp-controller="ContractForm" asp-action="Create" method="post" id="ContractForm">
    <div class="card mb-4">
        <h6 class="card-header">
            @T("AppWork.Contracts.ContractForm.AddNew")
            <small style="padding-left:5px;">
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("AppWork.Contracts.ContractForm.BackToList")</a>
            </small>
            <button type="submit" name="save-continue" class="btn btn-secondary" style="float:right;margin-right:5px;">
                <i class="far fa-save" style="margin-right:5px;"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <button type="submit" name="save" class="btn btn-success" style="float:right;margin-right:5px; " id="btnAddContractForm">
                <i class="fas fa-save" style="margin-right:5px;"></i>
                @T("Admin.Common.Save")
            </button>
        </h6>
        <div class="card-body">
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#ContractForm").submit(function () {
            $("#btnAddContractForm").attr("disabled", "disabled");
        });
    });
</script>
